__pycache__
*/__pycache__/
*/archive/
*.pyc
*.pyo
*.pyd
.Python
env
venv
.git/
.dockerignore
.gitignore
.DS_Store

Dockerfile.worker
Dockerfile.beat

README.md
*.pdf
*.ipynb

eagle_eye/utils/__pycache__
eagle_eye/archive/
eagle_eye/data/crawl_result/
eagle_eye/data/crawl_score/
reference/